‚úÖ Day 6: Time Series Slicing & Pivot Tables in Pandas

# ‚è∞ Day 6: Working with Time Series and Pivot Tables

Welcome to Day 6 of the 45-day Data Science with AI Challenge! üìä‚è≥

Today, we‚Äôll cover:
1. üïí How to **slice time-based data** using Pandas
2. üîÑ How to **summarize data with Pivot Tables**

These are super useful when working with stock data, sales trends, or any time-based information!

üïí Part 1: Time Series Slicing in Pandas

In [33]:
import pandas as pd

# Load the time series CSV (with datetime column as index)
df = pd.read_csv('36 - minute.csv', parse_dates=['datetime'], index_col = 'datetime')
df.head()

                      open   high    low  close
datetime
2022-09-09 09:15:00  17913  17925  17911  17918
2022-09-09 09:16:00  17917  17918  17902  17905
2022-09-09 09:17:00  17903  17904  17894  17898
2022-09-09 09:18:00  17898  17901  17890  17890
2022-09-09 09:19:00  17889  17903  17889  17901

üîç Select Data by Exact Time

In [9]:
# Fetch a single minute's data
df.loc['2022-09-09 09:15:00']

open     17913
high     17925
low      17911
close    17918
Name: 2022-09-09 09:15:00, dtype: int64

üïê Select by Hour, Minute, or Date

In [35]:
# Select data for 9:20 AM
df.loc['2022-09-09 09:20']

# Select all data between 9:00 AM to 9:59 AM
df.loc['2022-09-09 09'].head(10)

# Select all data from a full day
df.loc['2022-09-09'].head()

# Select data from a full month
df.loc['2022-09'].head()

                      open   high    low  close
datetime
2022-09-09 09:15:00  17913  17925  17911  17918
2022-09-09 09:16:00  17917  17918  17902  17905
2022-09-09 09:17:00  17903  17904  17894  17898
2022-09-09 09:18:00  17898  17901  17890  17890
2022-09-09 09:19:00  17889  17903  17889  17901

‚úÖ Summary for Time Series

You can filter data using just partial timestamps

Use .loc[] with formats like 'YYYY-MM-DD', 'YYYY-MM-DD HH', etc.

Make sure your datetime column is parsed correctly and set as index