⭐ Day 9: Data Cleaning & Handling Missing/Invalid Values

🧽 What is Data Cleaning?
Data cleaning is the process of fixing or removing incorrect, corrupted, or incomplete data to make it usable for analysis and ML modeling.

🔍 Why Clean Data?
Real-world data is rarely perfect. It often contains:



❌ Missing values

❌ Incorrect formats

❌ Outliers or extreme values

❌ Duplicates or irrelevant entries

Bad data = wrong insights ❌

Cleaning your data ensures:

Your visualizations are accurate

Your models make correct predictions

Your insights are trustworthy


Clean data increases accuracy, trust, and efficiency. ✅

🔍 Types of Data Issues & How to Fix Them

1. ✅ Handling Missing Values

📌 How to identify:

df.isnull().sum()

📌 Ways to handle:

Drop missing rows/columns (if very few)

df.dropna(inplace=True)

Impute with statistics (mean/median/mode)

df['age'].fillna(df['age'].mean(), inplace=True)
df['gender'].fillna(df['gender'].mode()[0], inplace=True)

Predict missing values (advanced)

Use other features to predict missing values (using KNN, regression, etc.)

Use ML models that handle missing values

Ex: RandomForest, XGBoost

2. ✅ Handling Invalid Values

📌 Invalid values could be:


Wrong data types (e.g., age stored as string)

Nonsense values (e.g., negative salaries)

Garbled text (due to encoding issues)

📌 How to fix:

Convert data types:

df['salary'] = df['salary'].astype(float)

Fix or remove invalid entries:

df = df[df['age'] >= 0]  # remove negative ages

Handle encoding:

pd.read_csv('file.csv', encoding='cp1252')  # if utf-8 breaks

3. ✅ Outlier Detection (Preview for Day 10)

   
Use these tools to detect outliers:

Boxplots

Z-score

IQR method

You can remove or cap them based on business logic or model sensitivity.

🛠 Practical Example

Imagine a dataset for customer age and purchase behavior:

In [31]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'age': [25, 30, np.nan, 22, 95, -5],
    'gender': ['Male', 'Female', 'Male', 'Female', 'Other', '???']
})
df

    age  gender
0  25.0    Male
1  30.0  Female
2   NaN    Male
3  22.0  Female
4  95.0   Other
5  -5.0     ???

Steps to clean:

Replace negative and null age values with mean

Fix inconsistent gender values using a mode or manual mapping

📋 Data Cleaning Questions to Ask Yourself:


Does the data make sense?

Are values in the correct format?

Do any columns have mostly missing values?

Can we fix or replace invalid data?

Are units, scales, or categories consistent?

✅ Takeaway


"Clean data isn’t just better — it’s necessary for building models that work."

Without proper cleaning, even the best algorithm won’t give meaningful results.