‚úÖ Day 5: Accessing a MySQL Database with Python

# üóÉ Day 5: Connecting Python with MySQL

Welcome to Day 5 of the 45-day Data Science with AI Challenge! üéØ

Today we‚Äôll learn how to:
1. üîó Connect Python to a MySQL database
2. üßæ Fetch data and read it into a Pandas DataFrame

Let‚Äôs get started!

üîå Step 1: What You Need

To connect Python to MySQL, we need the **`pymysql`** package.

You can install it by running:

In [4]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\ram\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

üß† Step 2: Connect to the MySQL Database

In [8]:
import pymysql
import pandas as pd
# Database connection details
host = "localhost"  # or "127.0.0.1"
user = "root"      # your MySQL username
password = "123456"   # your MySQL password
database = "my_new_database"   # your database name

try:
    # Establish the connection
    connection = pymysql.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        cursorclass=pymysql.cursors.DictCursor  # Optional: Returns rows as dictionaries
    )

    print("Connected to MySQL successfully!")

    # Create a cursor object
    with connection.cursor() as cursor:
        cursor.execute("SHOW TABLES;")  # Example query
        tables = cursor.fetchall()
        print("Tables:", tables)

except pymysql.MySQLError as e:
    print("Error connecting to MySQL:", e)

finally:
    if 'connection' in locals() and connection.open:
        connection.close()
        print("MySQL connection closed.")

Connected to MySQL successfully!
Tables: [{'Tables_in_my_new_database': 'users'}]
MySQL connection closed.

üì• Step 3: Read Table Data into a Pandas DataFrame

In [12]:
try:
    # Reconnect to MySQL
    connection = pymysql.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )
    print("‚úÖ Connected again for data read!")

    # SQL Query to get data from 'emp' table
    query = f"SELECT * FROM users;"
    df = pd.read_sql(query, con=connection)
    print("üìÑ Data fetched successfully!")

except pymysql.MySQLError as e:
    print("‚ùå Error connecting to MySQL:", e)

finally:
    if 'connection' in locals() and connection.open:
        connection.close()
        print("üîå MySQL connection closed again.")

‚úÖ Connected again for data read!
üìÑ Data fetched successfully!
üîå MySQL connection closed again.

In [14]:
df # Let us know the data in the data frame

,id,name,email,password,created_at
0,1,John Doe,john.doe@example.com,hashed_password_123,2025-03-10 09:48:08
1,2,Alice Smith,alice.smith@example.com,hashed_password_456,2025-03-10 09:48:08
2,3,Bob Johnson,bob.johnson@example.com,hashed_password_789,2025-03-10 09:48:08

‚úèÔ∏è Step 4: Insert Data into MySQL Table

In [18]:
# Function to establish a database connection
def get_connection():
    return pymysql.connect(
        host=host,
        user=user,
        password=password,
        database=database,
        cursorclass=pymysql.cursors.DictCursor  # Returns query results as dictionaries
    )

In [28]:
def insert_record(id, name, email, password):
    try:
        connection = get_connection()
        with connection.cursor() as cursor:
            query = f"INSERT INTO users (id, name, email, password) VALUES (%s, %s, %s,%s)"
            cursor.execute(query, (id, name, email, password))
        connection.commit()
        print("Record inserted successfully!")
    except pymysql.MySQLError as e:
        print("Error inserting data:", e)
    finally:
        if connection.open:
            connection.close()

# Example Usage
insert_record(5 , "John cena", "johncena@example.com", "hashed_password_1234" )

Record inserted successfully!

üõ† Step 5: Update Existing Data

In [30]:
def update_record(name, password):
    try:
        connection = get_connection()
        with connection.cursor() as cursor:
            query = f"UPDATE users SET password = %s WHERE name = %s"
            cursor.execute(query, (password, name))
        connection.commit()
        print("Record updated successfully!")
    except pymysql.MySQLError as e:
        print("Error updating data:", e)
    finally:
        if connection.open:
            connection.close()

# Example Usage
update_record("John", "hashed_password_12")

Record updated successfully!

step 6: Delete Data

In [32]:
def delete_record(name):
    try:
        connection = get_connection()
        with connection.cursor() as cursor:
            query = f"DELETE FROM users WHERE name = %s"
            cursor.execute(query, (name,))
        connection.commit()
        print("Record deleted successfully!")
    except pymysql.MySQLError as e:
        print("Error deleting data:", e)
    finally:
        if connection.open:
            connection.close()

# Example Usage
delete_record("John")

Record deleted successfully!

‚úÖ Summary (Updated)

‚úÖ Connected to MySQL from Python

üìÑ Read data from tables using SQL

üìù Inserted a new record

üîÅ Updated an existing record and also deleting a record

üìä Loaded everything into Pandas DataFrames for analysis