# üì¶ Day 1: Getting Started with Pandas in Python

Welcome to Day 1 of our 45-day Data Science with AI Challenge! üôå

Today, we're diving into **Pandas**, one of the most important libraries for data analysis.

We'll learn two key concepts:
1. üìà **Pandas Series**
2. üìä **Pandas DataFrames**

Let‚Äôs get started!

üîπ What is Pandas?

Pandas is a Python library used to:
- Organize data (like Excel tables)
- Clean, filter, and analyze data easily

In [24]:
# First, we import the pandas library
import pandas as pd

üìà Part 1: Pandas Series

A **Series** is like a single column of data. Think of it like a list, but with labels (called an index).

In [28]:
# Creating a simple Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Display the Series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

üîç Notice:
- Left column = index (0, 1, 2...)
- Right column = actual values (10, 20, etc.)

üîÑ Customize the Index

In [32]:
# Create a Series with custom index labels
series = pd.Series([90, 80, 70], index=["Math", "Science", "English"])
print(series)

Math       90
Science    80
English    70
dtype: int64

‚úÖ Now you can access items by name, like: `series["Math"]`

üíé Part 2: Series Methods ‚Äì unique(), nunique(), sort_values()

In [36]:
# Sample series
marks = pd.Series([90, 85, 90, 75, 85, 95, 90])

# Get unique values
print("Unique values:", marks.unique())

# Get count of unique values
print("Number of unique values:", marks.nunique())

# Sort the series
print("Sorted values:\n", marks.sort_values())

Unique values: [90 85 75 95]
Number of unique values: 4
Sorted values:
 3    75
1    85
4    85
0    90
2    90
6    90
5    95
dtype: int64

üìä Part 3: Intro to DataFrames

A **DataFrame** is like a whole table ‚Äî multiple columns and rows (like a spreadsheet).

In [40]:
# Create a DataFrame using a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eve   45        Miami

You can think of:
- Each **row** as a person
- Each **column** as a type of info (name, age, city)

Later, we'll learn how to filter, sort, and clean this data easily.

‚úÖ Summary


‚úÖ Pandas is a library for handling data in Python

üìà A Series = single column with labels (index)

üìä A DataFrame = full table with rows and columns

üîß You practiced creating, sorting, and exploring Series and DataFrames

üéâ Great job on completing Day 1!

üëâ Up next: Filtering rows and cleaning missing values in real datasets.

üì¢ Share your progress with the hashtag: #45DaysOfDataScience